.banner {
    background-color: transparent;

    &-content {
        @include flex(center, space-between);

        @media screen and (max-width: 1120px) {
            justify-content: center;
            padding-bottom: 80px;
        }
    }

    &-texts {
        @include flex(start, unset);
        flex-direction: column;
        gap: 15px;

        @media screen and (max-width: 1120px) {
            padding-top: 50px;
            align-items: center;
            justify-content: center;
        }

    }

    &-img {
        width: 802px;
        height: 638px;
        transform: translateX(3%);

        @media screen and (max-width: 1320px) {
            width: 702px;
            height: 538px;
        }

        @media screen and (max-width: 1220px) {
            width: 602px;
            height: 438px;
        }

        @media screen and (max-width: 1120px) {
            width: 502px;
            height: 438px;
        }

        @media screen and (max-width: 1010px) {
            width: 402px;
            height: 338px;
        }

        @media screen and (max-width: 907px) {
            display: none;
        }

    }

    &-form {
        @include flex(center, space-between);
        gap: 14px;
        box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.25);
        background: $bg;
        border-radius: 15px;
        width: 443px;
        height: 60px;
        padding: 0 20px;

        @media screen and (max-width: 500px){
            width: 100%;
        }
    }

    &-icon {
        border: none;
    }

    &-input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-family: $second-family;
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;
        color: $font-color-black;
        background-color: transparent;
    }

    &-search_btn {
        width: 143px;
        height: 49px;
        background-color: $blue-bg;
        border-radius: 10px;
        font-family: $second-family;
        font-weight: 700;
        font-size: 14px;
        line-height: 125%;
        text-align: center;
        color: #fff;
        border: none;
    }

    &-title {
        font-family: $second-family;
        font-weight: 700;
        font-size: 57px;
        line-height: 55px;
        @include adaptive-value('font-size', 57, 32);
        color: $bg;
        width: 457px;

        @media screen and (max-width: 1120px) {
            text-align: center;
        }

        @media screen and (max-width: 470px){
            width: 100%;
        }
    }

    &-subtitle {
        font-family: $second-family;
        font-weight: 700;
        @include adaptive-value('font-size', 16, 14);
        line-height: 125%;
        color: $font-color-black;
        width: 456px;

        @media screen and (max-width: 1120px) {
            text-align: center;
        }

        @media screen and (max-width: 500px){
            width: 100%;
        }

    }
}