@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700&family=Poppins:wght@400;700&family=Public+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');
$font-family: "Public Sans", sans-serif;
$second-family: "Poppins", sans-serif;
$third-family: "Inter", sans-serif;
$font3: "Lato", sans-serif;
$font4: "Roboto", sans-serif;

$bg: #f5f5f7;
$font-color-black: #8b8e99;
$blue-bg: #3858d6;
$border-color: #e4e7e9;
$default-text-color: #191c1f;